# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code
.vscode/

# IDEs
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse
.settings/
bin/
*.classpath
*.project

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nbactions.xml
.nb-configuration.xml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# DATOS PERSONALES INSTAGRAM (NO SUBIR)
following.json
followers_1.json
*.json
